{% extends "base.html" %}
{% load static %}

{% block head %}
<!-- <script src="https://kit.fontawesome.com/878f6071f2.js" crossorigin="anonymous"></script> -->
{% endblock %}

{% block header %}

<header>
	<div class="container">
		<div class="profile">
			<div class="profile-image">
				<img src="../../../media/photos/ST.Jude.png" alt="">
			</div>
			<div class="profile-user-settings">
				<h1 class="profile-user-name">{{user.first_name}}</h1>
			</div>
			<div class="profile-bio">
				<p><span class="profile-real-name">{{user.email}} : </span> This will be their bio</p>
			</div>
		</div>
		<!-- End of profile section -->
	</div>
	<!-- End of container -->
</header>

<main>

	<div class="container">
		<div class="gallery">
			{% for post in object_list %}
				{% if post.post_author == user.first_name|add:' '|add:user.last_name %}
                <div class="gallery-item" tabindex="0">
                        <img src="{{ post.cover.url}}" class="gallery-image" alt="{{ post.title }}">
                        <div class="gallery-item-info">
                            <ul>
								<!-- <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li> -->
								<li class="gallery-item-likes"><span class="visually-hidden">Volunteers :</span><i class="fa fa-child" aria-hidden="true"></i> {{post.max_volunteers}}</li>
								<!-- <li class="gallery-item-likes"><span class="visually-hidden">Volunteers :</span><i class="fas fa-hands-helping" aria-hidden="true"></i> {{post.max_volunteers}}</li> -->
                            </ul>
                        </div>
				</div>
				<ol style="list-style-type: none;">
					<LH>Volunteer List: </LH>
					{% for volunteer in post.volunteer_set.all %}
					<li>
						<a href = "/exampleFolder/file1.txt">{{volunteer.name}}</a>
					</li>
					{% endfor %}
				</ol>
				<hr>
                {% else %}
                {% endif %}
            {% endfor %}
		</div>
		<!-- End of gallery -->

        <div class="loader"></div>
        <br>

	</div>
	<!-- End of container -->

</main>


{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
<link rel="stylesheet" href="{% static "css/account.css" %}">
<script src="{% static "js/account.js" %}"></script>
{% endblock %}