{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block header %}

<h4>Contact us</h4>
<h5>meet our current executive team!</h5>
<div class="contact_row">
    <div class="contact_column">
      <img src="../../../media/photos/miquel.jpg" alt="Snow" style="max-width: 120px;">
    </div>
    <div class="contact_column">
      <img src="../../../media/photos/Jose.jpg" alt="Forest" style="max-width: 120px;">
    </div>
    <div class="contact_column">
      <img src="../../../media/photos/St_Jude_5eaF8AL.png" alt="Mountains" style="max-width: 120px;">
    </div>
    <div class="contact_column">
        <img src="../../../media/photos/doug.jpg" alt="Snow" style="max-width: 120px;">
      </div>
      <div class="contact_column">
        <img src="../../../media/photos/X.jpg" alt="Forest" style="max-width: 120px;">
      </div>
      <div class="contact_column">
        <img src="../../../media/photos/connor.jpg" alt="Mountains" style="max-width: 120px;">
      </div>
      <div class="contact_column">
        <img src="../../../media/photos/Oleary.jpg" alt="Snow" style="max-width: 120px;">
      </div>
      <div class="contact_column">
        <img src="../../../media/photos/fonzi .jpg" alt="Forest" style="max-width: 120px;">
      </div>
  </div>

{% endblock %}

{% block scripts %}

{% endblock %}