{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block header %}

<h4>Contact us</h4>
<h5>meet our current executive team!</h5>
<body>
<div class="contact_row">
    <div class="contact_column">
      <img src="../../../media/photos/miquel.jpg" alt="Snow" style="width: 250px; height: 250px;">
      <img src="../../../media/photos/Jose.jpg" alt="Forest" style="width: 250px; height: 250px;">
      <img src="../../../media/photos/St_Jude_5eaF8AL.png" alt="Mountains" style="width: 250px; height: 250px;">
      <img src="../../../media/photos/doug.jpg" alt="Snow" style="width: 250px; height: 250px;">
    </div>
    <div class="contact_column">
        <img src="../../../media/photos/X.jpg" alt="Forest" style="width: 250px; height: 250px;">
        <img src="../../../media/photos/connor.jpg" alt="Mountains" style="width: 250px; height: 250px;">
        <img src="../../../media/photos/Oleary.jpg" alt="Snow" style="width: 250px; height: 250px; ">
        <img src="../../../media/photos/fonzi .jpg" alt="Forest" style="width: 250px; height: 250px; ">
    </div>
</body>
{% endblock %}

{% block scripts %}

{% endblock %}