{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block header %}

<h4 style="text-align: center;">Contact us</h4>
<h5 style="text-align: center;">meet our current executive team!</h5>
<body>
<div class="contact_row">
    <div class="contact_column">
      <div> 
          <img class="contact_photo" src="../../../media/photos/miquel.jpg" alt="Miquel" >
          <p class="info">Miquel Ruano- President</p>
      </div>
      <div>
          <img class="contact_photo" src="../../../media/photos/Jose.jpg" alt="Jose" >
          <p class="info" > Jose Colderon III- Vice President</p>
      </div>
      <div>
          <img class="contact_photo" src="../../../media/photos/St_Jude_5eaF8AL.png" alt="Isaac" >
          <p class="info" >Isaac Mendoza- Secretery</p>
      </div>
      <div>
          <img class="contact_photo" src="../../../media/photos/doug.jpg" alt="Doug">
          <p class="info">Doug Scott- Treasurer</p>
      </div>
    </div>
    <div class="contact_column">
      <div>
          <img class="contact_photo" src="../../../media/photos/X.jpg" alt="Xavier">
          <p class="info">Xavier Moreno- Brotherhood</p>
      </div>
      <div>
          <img class="contact_photo" src="../../../media/photos/connor.jpg" alt="Connor" >
          <p class="info">Connor Hawkins- Historian</p>
      </div>
      <div>
          <img class="contact_photo" src="../../../media/photos/Oleary.jpg" alt="Connor" >
          <p class="info">Connor Oleary- Sargent At Arms</p>
      </div>
      <div>
          <img class="contact_photo" src="../../../media/photos/fonzi .jpg" alt="Fonzo" >
          <p class="info">Fonzo Torres- New Member Educator</p>
    </div>
</div>
<div style="text-align:center">
<a class="button" href="mailto:amoradi@mail.csuchico.edu"> Click Here To Email TKE</a>
<a class="button" href=/chat/{{username}}> Click Here to Chat </a>
</div>
</body>
{% endblock %}

{% block scripts %}
{% endblock %}