{% extends "base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block header %}

<h4 id="event-title">Upcoming Events</h4>

<hr>
<div class="row">
        <div class="small-6 small-centered text-center columns">
                <a href="/post" class="button">Create Event</a>
        </div>
</div>

<!-- <div class="grid-x grid-margin-x small-up-2 medium-up-2 large-up-4">
        <div id="app-4"> 
                <span v-if="unseen">
                <div v-for="post in postdata">
                        {% verbatim %}
                        <div class="table">
                                <div class="row">
                                        <h5>{{post.title}}</h5>
                                        <p>{{post.description}}</p>
                                        <p>Plublished : {{post.created_date}} </p>
                                        <p>Event Date: {{post.published_date}}</p>
                                        <div class="event-container">
                                                <img class="thumbnail" v-bind:src="post.cover" v-bind:alt="post.title">
                                                <div class="event-bottom-left">{{post.current_volunteers}}/{{post.max_volunteers}}</div>
                                                <div v-if="!post.status" class="event-bottom-right">
                                                        Closed 
                                                </div>
                                                <div v-else class="event-bottom-right">
                                                        Open 
                                                </div>
                                        </div>
                                        <p>Author: {{post.post_author}}</p>
                                        <a href="#" class="button expanded">Sign Up</a>
                                </div>
                        </div>
                        </div>
                        {% endverbatim %}
                </span>
        </div>  
</div> -->
<div class="grid-x grid-margin-x small-up-2 medium-up-2 large-up-4">
        <!-- While this view is executing, self.object_list will contain the list of objects that the view is operating upon.-->
        {% for post in object_list %}
        <div class="cell">
                <h5>{{ post.title }}</h5>
                <p>{{post.description}}</p>
                <p>{{post.published_date}}</p>
                <p>Posted By: {{post.post_author}}</p>
                <div class="event-container">
                        <img class="thumbnail" src="{{ post.cover.url}}" alt="{{ post.title }}" >
                        <div class="event-bottom-left">Currrent Volunteers: {{post.current_volunteers}}/{{post.max_volunteers}}</div>
                        <!-- <div class="event-bottom-right">{{post.status}}</div> -->
                </div>
                <a href="https://maps.google.com/?q={{post.address}},{{post.city}},{{post.state}}">location: {{post.city}}, {{post.state}}</a>
                <a href="/volunteer" class="button expanded">Sign Up</a>
        </div>
        {% endfor %}
</div>

 <!-- <div class="grid-x grid-margin-x small-up-2 medium-up-2 large-up-4">
        {% for post in object_list %}
        <div class="cell">
                <h5>{{ post.title }}</h5>
                <p>{{post.description}}</p>
                <p>Plublished : {{post.published_date}}</p>
                <p>Event Date: {{post.created_date}}</p>
                <div class="event-container">
                        <img class="thumbnail" src="{{ post.cover.url}}" alt="{{ post.title }}">
                        <div class="event-bottom-left">{{post.current_volunteers}}/{{post.max_volunteers}}</div>
                        <div class="event-bottom-right">
                                {% if post.status is False %}
                                        Closed 
                                {% else %} 
                                        Open 
                                {% endif %}</div>
                </div>
                <a href="#" class="button expanded">Sign Up</a>
        </div>
        {% endfor %}
</div> -->



{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}