{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/css/foundation-datepicker.min.css">
{% endblock %}

{% block header %}
<div class="grid-x grid-padding-x">
<div class="large-offset-4 medium-offset-4 cell">   
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}
    <table class="table">

    <label>Title
      <input name="title" required="" id="id_title" type="text" placeholder="Title" />
    </label>
    <label>Description
      <textarea name="description" required="" id="id_description" placeholder="Description"></textarea>
    </label>
    <p>
      <label for="id_cover">Image Cover</label> <input type="file" name="cover" accept="image/*" required="" id="id_cover">
    </p>
    <p>
      <label for="id_created_date">Event Date (YYYY-MM-DD)</label> 
      <input type="text" class="span2" required="" name="created_date" id="id_created_date">
    </p>
    <div class="small-12 medium-6 columns">
    <label>
        Number of Volunteers
        <input type="number" name="max_volunteers" value="1" required="" style="width: 5em;">
    </label>
    
    <label>
        Address:
        <input type="text" name="address" required="" >
    </label>
    <label>
        City
        <input type="text" name="city" required="" >
    </label>
    <label>
      State
      <input type="text" name="state">
    </label>
    </div>
    <p hidden>
      <label for="id_status">Status:</label> <input type="checkbox" name="status" id="id_status" checked="">
    </p>
    <input type="hidden" name="post_author" id="id_post_author"  value="{{user.first_name}} {{user.last_name}}" placeholder={{user.username}}>
    <button type="submit" class="alert button">Submit New Post</button>
</form>
      
</table>
</div>
</div>

{% endblock %}

{% block scripts %}
<script src="../../static/js/eventForm.js"></script>
<script src="../../static/js/foundation-datepicker.js"></script>
{% endblock %}