{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/css/foundation-datepicker.min.css">
{% endblock %}

{% block header %}

<form method="post">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.name.label_tag }}
    {{ form.name }}
    {{ form.email.label_tag }}
    {{ form.email }}
    {{ form.phone_number.label_tag }}
    {{ form.phone_number }}
    {{ form.event.label_tag }}
    {{ form.event }}
    <input type="submit" class="button expanded" value="Register" />
</form>

{% endblock %}

{% block scripts %}
<script src="../../static/js/eventForm.js"></script>
<script src="../../static/js/foundation-datepicker.js"></script>
{% endblock %}